# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
apollo.config.js
schema.json

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# playwright
/playwright-report
/test-results

# storybook
build-storybook.log
storybook-static
.reg
__screenshots__

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.eslintcache

npm-debug.log*
yarn-debug.log*
yarn-error.log*
