.chips {
  margin-right: 1rem;
  display: flex;
  gap: 0.5rem;
  flex-wrap: nowrap;
  overflow: auto;
  height: 2rem;
}

.menu {
  width: 80%;
  padding: 16px 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}

@media (max-width: 679px) {
  .chips {
    margin-right: 0;
    gap: 0.25rem;
    flex-wrap: wrap;
    overflow: visible;
    height: auto;
    min-height: 1.5rem;
  }
}
