.pageBox {
  width: 100%;
}

.contentBox {
  margin-inline: auto;
  padding: 24px;
  max-width: 1280px;
}

.copyright {
  padding: 24px 0;
  width: 100%;
  text-align: center;
}

.pageBox a {
  color: var(--color-text-primary);
  text-decoration: none;
  border-bottom: 1px solid transparent;
}

.pageBox a:hover {
  border-bottom: 1px solid var(--color-text-primary);
}
