@keyframes spinner-rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spinner {
  display: inline-block;
  border: 3.5px solid var(--color-primary);
  border-top-color: transparent;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spinner-rotate 0.8s linear infinite;
}
