name: Update Database

permissions:
  contents: read

on:
  workflow_dispatch:
    inputs:
      municipality:
        description: "Municipality to update"
        required: true
        type: choice
        options:
          - tokyo-koutou
          - tokyo-arakawa
          - tokyo-kita
          - tokyo-chuo
          - tokyo-sumida
          - kanagawa-kawasaki
          - all

jobs:
  prepare:
    timeout-minutes: 10
    runs-on: ubuntu-latest
    outputs:
      municipality: ${{ steps.set-municipality.outputs.municipality }}
      nodeModulesCacheKey: ${{ steps.set-cache-keys.outputs.nodeModulesCacheKey }}
    steps:
      - name: Set municipality
        id: set-municipality
        run: |
          if [ "${{ github.event_name }}" == "workflow_dispatch" ] && [ "${{ github.event.inputs.municipality }}" != "all" ]; then
            echo "municipality=${{ github.event.inputs.municipality }}" >> $GITHUB_OUTPUT
          fi
      - name: Checkout
        uses: actions/checkout@0c366fd6a839edf440554fa01a7085ccba70ac98 # v6.0.1
      - name: Set cache keys
        id: set-cache-keys
        run: |
          NODE_MODULES_HASH=$(sha256sum package-lock.json | awk '{ print $1 }')
          echo "nodeModulesCacheKey=${{ runner.os }}-node-modules-${NODE_MODULES_HASH}" >> $GITHUB_OUTPUT
      - name: Set Node.js
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          cache: "npm"
          cache-dependency-path: "**/package-lock.json"
          node-version: "lts/*"
      - name: Cache node_modules
        uses: actions/cache@9255dc7a253b0ccc959486e2bca901246202afeb # v5.0.1
        id: node-modules-cache
        with:
          path: "**/node_modules"
          key: ${{ steps.set-cache-keys.outputs.nodeModulesCacheKey }}
      - name: Run npm ci
        if: steps.node-modules-cache.outputs.cache-hit != 'true'
        run: |
          npm ci --ignore-scripts

  update:
    needs: prepare
    timeout-minutes: 10
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@0c366fd6a839edf440554fa01a7085ccba70ac98 # v6.0.1
      - name: Set Node.js
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          cache: "npm"
          cache-dependency-path: "**/package-lock.json"
          node-version: "lts/*"
      - name: Restore cached node_modules
        uses: actions/cache/restore@9255dc7a253b0ccc959486e2bca901246202afeb # v5.0.1
        with:
          path: "**/node_modules"
          key: ${{ needs.prepare.outputs.nodeModulesCacheKey }}
      - name: Update database data
        shell: bash
        working-directory: packages/scraper
        env:
          GRAPHQL_ENDPOINT: ${{ secrets.GRAPHQL_ENDPOINT }}
          ADMIN_SECRET: ${{ secrets.ADMIN_SECRET }}
          SCRIPT_ENDPOINT: ${{ secrets.SCRIPT_ENDPOINT }}
        run: |
          node tools/updateInstitutions.mjs ${{ needs.prepare.outputs.municipality }}
