name: Update Database

permissions:
  contents: read

on:
  workflow_dispatch:
    inputs:
      municipality:
        description: "Municipality to update"
        required: true
        type: choice
        options:
          - all
          - tokyo-koutou
          - tokyo-bunkyo
          - tokyo-kita
          - tokyo-toshima
          - tokyo-edogawa
          - tokyo-arakawa
          - tokyo-sumida
          - tokyo-ota
          - tokyo-suginami
          - tokyo-chuo
          - kanagawa-kawasaki

jobs:
  prepare:
    timeout-minutes: 10
    runs-on: ubuntu-latest
    outputs:
      municipality: ${{ steps.set-municipality.outputs.municipality }}
      nodeModulesCacheKey: ${{ steps.set-cache-keys.outputs.nodeModulesCacheKey }}
    steps:
      - name: Set municipality
        id: set-municipality
        run: |
          if [ "${{ github.event_name }}" == "workflow_dispatch" ] && [ "${{ github.event.inputs.municipality }}" != "all" ]; then
            echo "municipality=${{ github.event.inputs.municipality }}" >> $GITHUB_OUTPUT
          fi
      - name: Checkout
        uses: actions/checkout@0c366fd6a839edf440554fa01a7085ccba70ac98 # v6.0.1
      - name: Set cache keys
        id: set-cache-keys
        run: |
          NODE_MODULES_HASH=$(sha256sum package-lock.json | awk '{ print $1 }')
          echo "nodeModulesCacheKey=${{ runner.os }}-node-modules-${NODE_MODULES_HASH}" >> $GITHUB_OUTPUT
      - name: Set Node.js
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          cache: "npm"
          cache-dependency-path: "**/package-lock.json"
          node-version: "24"
      - name: Cache node_modules
        uses: actions/cache@cdf6c1fa76f9f475f3d7449005a359c84ca0f306 # v5.0.3
        id: node-modules-cache
        with:
          path: "**/node_modules"
          key: ${{ steps.set-cache-keys.outputs.nodeModulesCacheKey }}
      - name: Run npm ci
        if: steps.node-modules-cache.outputs.cache-hit != 'true'
        run: |
          npm ci --ignore-scripts

  update:
    needs: prepare
    timeout-minutes: 10
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@0c366fd6a839edf440554fa01a7085ccba70ac98 # v6.0.1
      - name: Set Node.js
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          cache: "npm"
          cache-dependency-path: "**/package-lock.json"
          node-version: "24"
      - name: Restore cached node_modules
        uses: actions/cache/restore@cdf6c1fa76f9f475f3d7449005a359c84ca0f306 # v5.0.3
        with:
          path: "**/node_modules"
          key: ${{ needs.prepare.outputs.nodeModulesCacheKey }}
      - name: Update database data
        shell: bash
        working-directory: packages/scraper
        env:
          GRAPHQL_ENDPOINT: ${{ secrets.GRAPHQL_ENDPOINT }}
          AUTH0_DOMAIN: ${{ secrets.AUTH0_DOMAIN }}
          AUTH0_CLIENT_ID: ${{ secrets.AUTH0_CLIENT_ID }}
          AUTH0_CLIENT_SECRET: ${{ secrets.AUTH0_CLIENT_SECRET }}
          AUTH0_AUDIENCE: ${{ secrets.AUTH0_AUDIENCE }}
        run: |
          node tools/updateInstitutions.ts ${{ needs.prepare.outputs.municipality }}
